{% extends 'food/base.html' %}
{% block body %}
    {% for item in items %}
    <div class="row">
        <div class="col-md-3 offset-md-2">
            <img class="card" src="{{ item.image_url }}" style="height:150px"/>
        </div>
        <div class="col-md-4">
            <h3>
                {{ item.item_name }}
            </h3>
            <h4>
                {{ item.item_desc }}
            </h4>
            <h5>
                ${{ item.item_price }}
            </h5>
        </div>
        <div class="col-md-2">
            <a href="{% url 'food:detail' item.id%}" class="btn btn-success">View Details</a>
            <a href="{% url 'food:edit-item' item.id%}" class="btn btn-success">Edit</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
